<div    [ngGridItem]='module' 
        [style.background-color]='module.backgroundColor'>
    <h2 *ngIf='module.title' [innerHtml]='module.title'></h2>
    <h3 *ngIf='module.subTitle' [innerHtml]='module.subTitle'></h3>

    <button class='module-settings btn btn-default fa fa-cog'
            data-toggle="modal" [attr.data-target]="'#' + module.payload + 'Settings'">
    </button>
    <module-settings    [module]='module'
                        [settings]='module.settings'>
    </module-settings>
</div>
