<div #bashBoard
     class='step'
     [class.showBoard]='visible'
     [ngGrid]='gridConfig'
     (onItemChange)="saveLayout()">
  <ng-template #bashBoardModuleContainer></ng-template>
  <div id="menu">
    <button title="Voeg module toe"
            (click)='addModule()'
            class='btn btn-default fa fa-puzzle-piece'>
    </button>
    <button title="Ververs alle modules"
            (click)='refreshAll()'
            class='btn btn-default fa fa-refresh'>
    </button>
    <button title="Instellingen"
            class='btn btn-default fa fa-cogs'
            data-toggle="modal"
            data-target="#bashboardSettings">
    </button>
  </div>
</div>
