body {
  --background-color: #000;
  background-color: var(--background-color);
  color: #aaa;
}

h1 {
  color: #369;
}

#menu {
  z-index: 999;
}

#bashboardGrid {
  width: 100%;
  height: 100% !important;
}