body {
  --background-color: #000;
  background-color: var(--background-color);
  color: #aaa;
}

h1 {
  color: #369;
}

#menu {
  z-index: 999;
}

.grid-item.moving {
    z-index: 999;
    opacity: 0.92;
}