.blue {
    background-color: #00ff00;
}

.blue_anime {
    background-color: #0000ff;
}

.red {
    background-color: #ff0000;
}

.red_anime {
    background-color: #ff6347;
}

.aborted {
    background-color: #000000;
}

.aborted_anime {
    background-color: #5f9ea0;
}

.yellow {
    background-color: #ffff00
}

.yellow_anime {
    background-color: #0000ff;
}
