<!-- <button class='module-settings btn btn-default fa fa-refresh' (click)='module.updateContent'>
</button> -->
<button class='module-settings btn btn-default fa fa-cog' (click)='open(module)'>
</button>
<ng-template class="modal fade" #module let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      Module instellingen
    </h4>
    <button type="button" class="close" (click)='d()' aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class='row'>
      <div class='col-lg-12'>
        <div class='input-group' *ngFor='let setting of settings'>
          <span class='input-group-btn'>
                    <button     class='btn btn-secondary' 
                                type='button' 
                                [innerHTML]='setting.name'>
                    </button>
                </span>
          <input [class.form-control]='!valueIsColor(setting.inputType)' [type]='setting.inputType' [(ngModel)]='setting.value' />
          <span *ngIf='valueIsDate(setting.inputType)' class='input-group-btn'>
                    <button     class='btn btn-secondary'
                                type='button'
                                (click)='setDateToNow(setting.value)'>
                        Nu
                    </button>
                </span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)='c()'>Opslaan</button>
    <button type="button" class="btn btn-secondary" (click)='d()'>Annuleren</button>
  </div>
</ng-template>